// Components
// -------------------------
// Based on 14px font-size and 1.428 line-height (~20px to start)
$padding-base-vertical:          8px !default;
$padding-base-horizontal:        15px !default;

$padding-small-vertical:         6px !default;
$padding-small-horizontal:       12px !default;

$padding-large-vertical:         12px !default;
$padding-large-horizontal:       18px !default;

$line-height-small:              1.5 !default;
$line-height-large:              1.8 !default;

$border-radius-base:             0px !default;
$border-radius-large:            0px !default;
$border-radius-small:            0px !default;

$caret-width-base:               4px !default;
$caret-width-large:              5px !default;