// Forms
// -------------------------
$input-border-radius:            0 !default;
$input-height-base:              48px !default;
$input-height-large:             (floor($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;