// Grid system
// --------------------------------------------------

// Number of columns in the grid system
$grid-columns:              12 !default;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         30px !default;
// Point at which the navbar stops collapsing
$grid-float-breakpoint:     $screen-sm-min !default;

// Container sizes
// --------------------------------------------------
// Small screen / tablet
$container-tablet:             ((720px + $grid-gutter-width)) !default;
$container-sm:                 $container-tablet !default;
// Medium screen / desktop
$container-desktop:            ((940px + $grid-gutter-width)) !default;
$container-md:                 $container-desktop !default;
// Large screen / wide desktop
$container-large-desktop:      ((1140px + $grid-gutter-width)) !default;
$container-lg:                 $container-large-desktop !default;