// Popovers
// -------------------------
$popover-max-width:                   276px !default;
$popover-arrow-width:                 10px !default;
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;