.social-share {
  .social-media--links {
    padding: 0;
    margin: 0;
  }
  > ul {
      margin: 0;
      padding: 0;
      li {
          display: inline-block;
          margin-right: 1em;
          transition: color 0.5s ease;
          a {
              font-size: 1.2em;
              color: #ccc;
              &:hover {
                  color: #444;
              }      
          }
      }
  }
}

.social-media {
  list-style: none;
  padding: 1em 0;
  > li {
    display: inline-block;
    padding: 0 1em;
    i {
      color: #ccc;
    }
  }
}